; APC-UPS NG
; Wird von der Plugin-Oberflaeche geschrieben.
;
; Diese Datei liegt dem Paket bei, damit die Voreinstellungen von Anfang an
; feststehen.

[apc_ups_ng]
enabled=1
intervall=30
aktualisierung=300
themenpraefix=apcups
mqtt=1
benachrichtigung=1
email=0
email_an=root
host=
